@font-face {
   font-family: 'Switzer-Regular';
   font-display: swap;
   src: url('file:///Users/manishpatil/Manish/Manish%20Portfolio/Manish%20Portfolio%20-%20Live%209%20May%202024/fonts/Switzer-Regular/font.woff');
}
