@font-face {
   font-family: 'ClashDisplay-Bold';
   font-display: swap;
   src: url('ClashDisplay-Bold/font.ttf');
}
@font-face {
   font-family: 'Gilroy-Regular';
   font-display: swap;
   src: url('Gilroy-Regular/font.ttf');
}
@font-face {
   font-family: 'Gilroy-Light';
   font-display: swap;
   src: url('Gilroy-Light/font.ttf');
}
