@font-face {
   font-family: 'Mona-Sans';
   font-display: swap;
   src: url('file:///Users/manishpatil/Manish/LIVE%20-%20Manish%20Website%20Portfolio%20-%20Updated%20on%2009%20JULY%202023/fonts/Mona-Sans/font.ttf');
}
