@font-face {
   font-family: 'Switzer-Medium';
   font-display: swap;
   src: url('file:///Users/manishpatil/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-05-06_142602/fonts/Switzer-Medium/font.woff');
}
