@font-face {
   font-family: 'FenulCondensedTRIAL-Heavy';
   font-display: swap;
   src: url('file:///Users/manishpatil/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-04-12_203707/fonts/FenulCondensedTRIAL-Heavy/font.woff');
}
