@font-face {
   font-family: 'Mona-Sans-ExtraBoldWide';
   font-display: swap;
   src: url('file:///Users/patilman/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-07-07_141147/fonts/Mona-Sans-ExtraBoldWide/font.ttf');
}
